
:root{
    --color-blanco: #fff;
    --color-tem-oscuro: #BF2264;
    --color-tem-claro: #E62978;
    --color-cont-oscuro: #FF781F;
    --color-cont-claro: #FF9012;
}
*{
    padding: 0px;
    margin: 0px;
}
/*---------Usuario------*/
#user{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    margin: 0px;
    z-index: 400;
}
#user > header{
    font: bold 18px tahoma;
    padding: 10px 40px;
    padding-right: 150px;
    color: var(--color-blanco);
    background: var(--color-tem-oscuro);
    clip-path: polygon(100% 0%, 80% 100%, 0% 100%, 0% 0%);
}
#user > div{
    cursor: pointer;
    margin-right: 40px;
}
#user > div > svg{
    width: 30px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 50%;
    background: var(--color-tem-oscuro);
    fill: var(--color-blanco);
    transition: 0.5s;
}
#user > div:hover > svg{
    background: none;
    fill: var(--color-cont-oscuro);
}









/*---------Agregar un video------*/
#formVideo{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    position: absolute;
    z-index: 350;
    visibility: hidden;
    overflow: hidden;
}
#formVideo > article{
    width: 320px;
    height: 360px;
    background: var(--color-blanco);
    border-radius: 20px;
}
#formVideo > article > header{
    width: 100%;
    height: 120px;
    font: bold 28px tahoma;
    text-align: center;
    color: var(--color-blanco);
    background: linear-gradient(270deg, var(--color-tem-claro), var(--color-tem-oscuro));
    display: grid;
    place-content: center;
    border-radius: 20px 0px;
    filter: brightness(0.9);
}
#formVideo > article > form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
#formVideo > article > form input{
    font-size: 20px;
    margin: 8px 0px;
    padding: 5px;
}
#formVideo > article > form > #inputFile{
    margin-bottom: 20px;
    margin-left: 250px;
}
#formVideo > article > form > #btnAddFV{
    font: normal 20px tahoma;
    cursor: pointer;
    padding: 10px 30px;
    color: var(--color-blanco);
    background: linear-gradient(270deg, var(--color-tem-claro), var(--color-tem-oscuro));
    border: none;
    border-radius: 5px;
    position: relative;
    transition: 0.5s;
}
#formVideo > article > form > #btnAddFV:hover{
    color: #000;
    background: linear-gradient(270deg, var(--color-tem-oscuro), var(--color-tem-claro));
}





/*---------Pantalla para mostrar el video------*/
#ver-video{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000;
}
#ver-video > article > video,
#ver-video > article > iframe{
    position: relative;
    width: 100%;
    height: 100vh;
}
#ver-video > video{
    width: 100%;
}







/*---------Lista de videos------*/
#list{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
#list > header{
    width: 100%;
    height: 70px;
    font:bold 30px tahoma;
    text-align: center;
    margin: 60px 0px;
    color: var(--color-tem-oscuro);
}
#list section{
    width: 100%;
    position: relative;
}
#list > #sectionID{
    background: rgb(233, 233, 233);
}

/*--------LISTA DE VIDEOS DESCARGADOS*/
#list section > #listfile, 
#list section > #listurl{
    position: relative;
    width: 972px;
    margin: 0px auto;
    padding: 20px 0px;
}
#list div{
    display: inline-block;
    position: relative;
    width: 230px;
    height: 170px;
    margin: 5px;
    transition: 0.7s;
    overflow: hidden;
}
/*---------------PLAY*/
#list div > .play{
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 70px;
    width: 60px;
    padding: 15px;
    transition: 0.5s;
    z-index: 500;
}
#list div > .play > svg{
    width: 100%;
    fill: transparent;
    transition: 0.5s;
    position: relative;
    z-index: -5;
}
#list div:hover > .play > svg{
    fill: rgba(255, 144, 18, 0.582)
}
#list div > img{
    width: 100%;
    height: 132px;
}
/*------BOTON CLEAR ------*/
#list div > button{
    cursor: pointer;
    padding: 5px;
    border: none;
    position: absolute;
    top: 5px;
    left: -50px;
    background: transparent;
    transition: 0.5s;
    z-index: 800;
}
#list div > button > svg{
    width: 20px;
    fill: rgb(47, 47, 47);
    position: relative;
    z-index: -5;
}
#list div > button:hover > svg{
    fill: red;
}
/*------TITULO------*/
#list div > p{
    display: inline-block;
    width: 100%;
    padding: 8px;
    font: normal 18px tahoma;
    text-align: left;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 200;
    transition: 0.5s;
}
/*------BOTON EDITAR ------*/
#list div > p > button{
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background: transparent;
    position: absolute;
    top: 0px;
    right: -50px;
    transition: 0.5s;
    z-index: 800;
}
#list div > p svg{
    width: 25px;
    fill: rgb(128, 0, 62);
    transition: 0.5s;
    position: relative;
    z-index: -5;
}
#list div > p > button:hover > svg{
    fill: var(--color-blanco);
}
#list div:hover p{
    color: white;
}
#list div:hover > button{
    left: 5px;
}
#list div:hover > p > button{
    right: 15px;
}
#list div:hover{
    box-shadow: 1px 1px 5px black;
    background: rgb(251, 92, 111);
}

/*
rojo: 251, 92, 111
celeste: 73, 163, 248
morado: 128, 103, 255
*/
