<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apac</title>
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
    <%- include("partials/nav") %> 
    <section id="port">
        <header>
            <img src="/img/logo.png">
            <p>EXPERTOS EN COMIDA</p>
        </header>
        <img src="/img/index_port.jpg" alt="no pudo cargar la imagen">
        <article id="menu_bottom">
            <header><h1>Titulo</h1></header>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio dignissimos quam ipsa officia nulla eaque totam. Repudiandae autem enim doloribus totam sit maxime aliquid obcaecati expedita quae necessitatibus consequuntur molestiae, eos, assumenda quo? Nisi autem vero rem adipisci officia tempora error explicabo nesciunt nihil. Quam ipsum sint ex, explicabo animi a repellendus voluptatum necessitatibus laudantium qui eos blanditiis nisi pariatur officia similique inventore, quas veritatis, suscipit totam? Voluptate repellat nam doloremque, eum esse nemo ullam ducimus earum ab eos rem odit perspiciatis. Accusamus autem, nihil magni, recusandae nemo perspiciatis ea alias inventore delectus commodi fuga ad quod, enim necessitatibus veniam?
            </p>
        </article>
    </section>

    <%- include("partials/courses") %> 
    <%- include("partials/contact") %>
    <%- include("partials/footer") %> 

<script type="text/javascript">
    function iniciar(){
    let menu = document.getElementById("menu_bottom");
    menu.style.bottom = `${window.scrollY/3.5}px`;
    window.requestAnimationFrame(iniciar);
    }
    window.addEventListener("load", iniciar);
</script>
</body>
</html>