#compCurs{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
#compCurs > img{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(0.4);
}
#compCurs > article{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
#compCurs > article > h1{
    margin-bottom: 30px;
    font: bold 27px tahoma;
    color: rgb(245, 222, 120);
}
#compCurs > article > p{
    font: normal 18px tahoma;
    color: white;
    margin-bottom: 20px;
}
#compCurs > article > span{
    font: bold 25px tahoma;
    margin-top: 10px;
    color: rgb(102, 228, 190);
}
#compCurs > form{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
#compCurs > form > input{
    margin: 5px 0px;
    color: white;
    font-size: 20px;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(35, 224, 167);
}
#compCurs > form > #comp{
    cursor: pointer;
    padding: 10px 30px;
    margin-top: 20px;
    color: white;
    background:rgb(21, 146, 109);
    border-radius: 10px;
    transition: 0.7s;
    border: 2px solid rgba(255, 255, 255, 0);
}
#compCurs > form > #comp:hover{
    border: 2px solid white;
    background: rgb(10, 100, 73);
}