footer{
    width: 100%;
    background: rgb(18, 17, 13);
    position: relative;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer > section{
    width: 100%;
    display: flex;
}
footer > div{
    width: 100%;
    padding: 10px 0px;
    font: normal 20px tahoma;
    text-align: center;
    color: white;
    background: rgb(3, 104, 62);
}
footer > section div{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer > section > #curs{
    border-right: 5px solid rgb(3, 104, 62);
    border-left: 5px solid rgb(3, 104, 62);
}
footer > section div a{
    padding: 10px 30px;
    color: rgb(206, 169, 50);
    font: bold 16px tahoma;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.7s;
}
footer > section div a:hover{
    letter-spacing: 5px;
}
footer > section div > h1{
    font: bold 23px tahoma;
    color: white;
    margin-bottom: 25px;
}
footer > section > #socialnet{
    width: 20%;
    background: rgb(20, 15, 15);
    transition: 0.5s;
}
footer > section > #socialnet a svg{
    width: 30px;
}
footer > section > #socialnet a:nth-child(1) svg{
    width: 25px;
    fill: rgb(21, 73, 109);
}
footer > section > #socialnet a:nth-child(2) svg{
    fill: rgb(173, 49, 204);
}
footer > section > #socialnet a:nth-child(3) svg{
    fill: rgb(59, 197, 216);
}
footer > section > #socialnet a:nth-child(4) svg{
    fill: rgb(36, 194, 57);
}
footer > section > #socialnet a:hover > svg{
    fill: white;
}