<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <script src="/js/bd.js"></script>
    <!-- Usuario -->
    <section id="user">
        <header><h1> </h1></header>
        <div id="btnUser">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
        </div>
    </section>
    <!-- Agregar un video -->
    <section id="formVideo">
        <article>
            <header><h1>Agregar Video</h1></header>
            <form action="/home" method="POST">
                <input type="text" name="urlVideo" id="inputURL" placeholder="https://www.youtube.com/watch?v=IBvf7KUEZ7"/>
                <input type="file" name="fileVideo" id="inputFile" value="Buscar archivo" style="color: transparent"/>
                <div id="btnAddFV">Agregar</div>
            </form>
        </article>
    </section>
    <!-- Pantalla para mostrar el video -->
    <section id="ver-video">
        <article id="viewVideo">
            <video src="/video/wick.mp4" autoplay controls></video>
        </article>
    </section>
    <!-- Lista de videos -->
    <section id="list">
        <header><h1>My Music</h1></header>
        <article id="listurl"></article>
        <article id="listfile"></article>
    </section>


<script src="/js/listVideo.js"></script>
<script src="/js/addVideo.js"></script>
<script src="/js/optVideo.js"></script>
</body>
</html>