node_modules/
../../.android/
        ../../.bash_history
        ../../.config/
        ../../.gitconfig
        ../../.node_repl_history
        ../../.viminfo
        ../../.vscode/
        ../../3D Objects/
        ../../AppData/
        ../../Contacts/
        ../Dashlane Password Manager.lnk
        ../Get Programming with Node.js by Jonathan Wexler (z-lib.org).pdf
        ../Git-2.26.0-64-bit.exe
        ../Gracie/
        ../Practicas web/
        ../Sublime Text 3.lnk
        ../VIDEOS_ ECMAScript.6.Avanza.tu.conocimiento.JavaScript/
        ../Visual Studio Code.lnk
        ../apis js/
        ../desktop.ini
        ../documentos/
        ../estudiar.docx
        ../git/
        ../guia para el profe/
        ../guias/
        ../heroku-x64.exe
        ../imprimir.docx
        ../js avanzado/
        ../leer/
        ../mis paginas webs/
        public/img/clear.svg
        public/img/pen.svg
        public/img/play.svg
        public/img/plus-solid.svg
        public/img/wave.png
        ../node-v13.11.0-x64.msi
        ../nodeJs/
        ../tareasssss/
        ../uTorrent Web.lnk
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../MicrosoftEdgeBackups/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{558bd1c0-eb80-11e9-a815-9162e8803727}.TM.blf
        ../../NTUSER.DAT{558bd1c0-eb80-11e9-a815-9162e8803727}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{558bd1c0-eb80-11e9-a815-9162e8803727}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../_netrc
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../primera-PagWeb